name: Aura Keepalive

on:
    schedule:
    - cron: '0 1 * * *'
    workflow_dispatch:

jobs:
    aura-keepalive:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                token: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup Python
              id: setup-python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'

            - name: Install Poetry
              uses: snok/install-poetry@v1
              with:
                virtualenvs-create: true
                virtualenvs-in-project: true
                virtualenvs-path: .venv
                installer-parallel: true

            # Install dependencies if cache does not exist
            - name: Install dependencies
              run: poetry install --no-interaction --no-root --without test
            
            - name: Invoke keepalive
              id: invoke-keepalive
              env:
                DB_URI: ${{ secrets.DB_URI }}
                DB_USER: ${{ secrets.DB_USER }}
                DB_PWD: ${{ secrets.DB_PWD }}
              run: poetry run python ./script/aura_refresh.py